.expenses-borders {
  border-color: var(--bs-danger) !important;
}

.income-borders {
  border-color: var(--bs-success) !important;
}

.lower-alpha {
  opacity: 0.8;
}
.title {
  font-weight: bolder;
  font-size: large;
}
.date {
  font-size: medium;
}

